@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to top, #98DE5B, #08E1AE);
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    color: rgb(2, 48, 32);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    box-shadow: 0 0.1rem 0.1rem rgb(0, 128, 128);
    background: white;
}

.logo{
    align-items: stretch;
}

.logo img{
    height: 3rem;
    object-fit: cover;
}

.navbar {
    display: flex;
}

.navbar ul {
    display: flex;
    justify-content: center;
    height: 4rem;
    gap: 2rem;
}

.navbar li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.navbar li a{
    text-decoration: none;
    color:inherit;
}

.navbar li::before{
    content:"";
}

.navbar li::after{
    content: "";
    transform: scaleX(0);
    height: 5px;
    border-radius: 3px;
}

.navbar ul li:hover{
    cursor: pointer;
}

.navbar li:hover::after {
    transform: scaleX(1);
    transition: transform 400ms ease-out;
    background-color: #f2cf43;
    background: linear-gradient(to left, #98DE5B, #08E1AE 74%);

}

.buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
}
.button {
    padding: 0.6rem 2rem;
    border: none;
    border: 0.33rem solid rgba(255,255,255,0.45);
    border-radius: 2.5rem;
    background-repeat: no-repeat;
    background-clip: padding-box;
    color: #000;
    background-image: linear-gradient(to left, #98DE5B, #08E1AE 74%);
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 300ms;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    gap: 5rem;
}

h2{
    font-size: 1.5rem;
    font-weight: 900;
}

.products-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
}

.product-image {
    height: 11rem;
    width: 11rem;
    object-fit: contain;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
    padding: 1.5rem 3rem;
    background-color: white;
}

.product:hover{
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(255, 191, 0,1);
    transform: scale(1.03);
    transition: 250ms ease-out;
}

.product-title{
    background-color: rgb(250, 250, 250);
    min-height: 3rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
    padding: 1rem;
    line-height: 1.4rem;
    font-weight: 550;
}

.product-category {
    font-size: 0.8rem;
}

.product-description {
    font-size: 1rem;
    height: 3rem;
    overflow-y: hidden;
}

.rating{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.fa-star{
    color: rgb(255, 191, 0);
}

.fa-user{
    color: darkblue;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 2rem;
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgb(255, 191, 0);
}

.dollar {
    font-size: 1.5rem;
}

.cart-button{
    padding: 1rem 2rem;
    width: 100%;
    border: none;
    color: darkblue;
    background-color: rgb(255, 191, 0);
    border-radius: 0.5rem;
    box-shadow:0 0 0.5rem rgba(0,0,0,0.3);
    opacity: 0.75;
}

.cart-button:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow:0 0 0.7rem rgba(0,0,0,0.5);
}

footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background: white;
}

.copyright{
    font-size: 0.8rem;
}

/*Loader*/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

/* Hamburger */

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    text-align: center;
}

#hamburger-icon-close {
    margin: auto 0;
    display: none;
    cursor: pointer;
    text-align: center;
}

.hamburger{
    width: 2rem;
    margin: auto 0;
}

.open #hamburger-icon-close {
    display: block;
    transition: 500ms;
}

.open #hamburger-icon {
    display: none;
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    z-index: 1;
}

.mobile-menu {
    display: none;
    position: absolute;
    padding: 0;
    top: 5em;
    left: 1.1rem;
    right: 1.1rem;
    margin: 0 auto;
    height: 39.5vh;
    width: 85vw;
    border-radius: 10px;
    box-shadow: 0 5rem 50rem hsl(233, 8%, 62%);
}

.mobile-menu li {
    margin-bottom: 10px;
}

.mobile-menu li a{
    text-decoration: none;
}
/*Media*/

@media (max-width: 800px){

    header .navbar ul{
        display: none;
        flex-direction: column;
        width: 100%;
    }

    #nav-ul.show{
        display: flex;
    }

    header .buttons{
        display: none;
    }

    #hamburger-icon{
        display: block;
    }

    footer{
        flex-direction:column;
        justify-content: space-around;
        height: auto;
        gap: 1rem;
    }
    footer .navbar ul{
        flex-direction: column;
        gap: 1rem;
    }
}