@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to top, #98DE5B, #08E1AE);
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    color: rgb(2, 48, 32);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0.1rem 0.1rem rgb(0, 128, 128);
    background: white;
}

.logo{
    align-items: stretch;
}

.logo img{
    height: 3rem;
    object-fit: cover;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
}

.navbar ul {
    display: flex;
    justify-content: center;
    height: 4rem;
    gap: 2rem;
}

.navbar li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.navbar li a{
    text-decoration: none;
    color:inherit;
}

.navbar li::before{
    content:"";
}

.navbar li::after{
    content: "";
    transform: scaleX(0);
    height: 5px;
    border-radius: 3px;
}

.navbar ul li:hover{
    cursor: pointer;
}

.navbar li:hover::after {
    transform: scaleX(1);
    transition: transform 400ms ease-out;
    background-color: #f2cf43;
    background: linear-gradient(to left, #98DE5B, #08E1AE 74%);

}

.button {
    padding: 0.6rem 2rem;
    border: none;
    border: 0.33rem solid rgba(255,255,255,0.45);
    border-radius: 2.5rem;
    background-repeat: no-repeat;
    background-clip: padding-box;
    color: #000;
    background-image: linear-gradient(to left, #98DE5B, #08E1AE 74%);
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 300ms;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
}

.main-container form{
    /* background-image: linear-gradient(to top, #98DE5B, #08E1AE);
    background-color: rgba(0,0,0,0.1); */
    background-color: rgb(237,237,237);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
    align-items: stretch;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(9, 121, 105);
}

.main-container form .div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

form .div input{
    box-sizing: border-box;
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    border-bottom: 3px solid teal;
}

form input:focus{
    box-shadow: 0 0 0.5rem rgb(2, 48, 32);
}

.tos{
    align-self: flex-start;
}

.errMessage{
    color: red;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
}


footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background: white;
}

.copyright{
    font-size: 0.8rem;
}

/* Hamburger */

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    text-align: center;
}

#hamburger-icon-close {
    margin: auto 0;
    display: none;
    cursor: pointer;
    text-align: center;
}

.hamburger{
    width: 2rem;
    margin: auto 0;
}

.open #hamburger-icon-close {
    display: block;
    transition: 500ms;
}

.open #hamburger-icon {
    display: none;
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    z-index: 1;
}

.mobile-menu {
    display: none;
    position: absolute;
    padding: 0;
    top: 5em;
    left: 1.1rem;
    right: 1.1rem;
    margin: 0 auto;
    height: 39.5vh;
    width: 85vw;
    border-radius: 10px;
    box-shadow: 0 5rem 50rem hsl(233, 8%, 62%);
}

.mobile-menu li {
    margin-bottom: 10px;
}

.mobile-menu li a{
    text-decoration: none;
}

@media (max-width: 800px){
    
    header .navbar ul{
        display: none;
        flex-direction: column;
        width: 100%;
    }

    #nav-ul.show{
        display: flex;
    }

    header .buttons{
        display: none;
    }

    #hamburger-icon{
        display: block;
    }

    footer{
        flex-direction:column;
        justify-content: space-around;
        height: auto;
        gap: 1rem;
    }
    footer .navbar ul{
        flex-direction: column;
        gap: 1rem;
    }
}